@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #5340C6; /* Cor do polegar (thumb) */
  border-radius: 10px; /* Borda arredondada do polegar */
}

::-webkit-scrollbar-track {
  background-color: #C4BEE9; /* Cor da trilha (track) */
  border-radius: 10px; /* Borda arredondada da trilha */
}